/* poppins-100 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('../fonts/poppins-v20-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-200 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/poppins-v20-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-300 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
    background-color: #F4EEEE;
}

.wrapper{
    max-width: 500px;
    margin: 0 auto;
    
}

.plan-wrapper{
    margin-top: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.plan-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.plans-variants {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input[type="radio"]{
    visibility: hidden;
  }

  label {
    cursor: pointer;
    background: linear-gradient(111.68deg, rgba(255, 255, 255, 0.29) 7.59%, rgba(255, 255, 255, 0.39) 102.04%);
    border: 1.28995px solid #FFFFFF;
    border-radius: 10px;
  }


  input[type="radio"]:checked + label{
    border: 1.28995px solid #FF7F6B;
  }

  .info-plan {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .text-in-border {
    position: absolute;
    width: 320px;
    height: 20px;
    left: -21px;
    top: -18.39px;
    
    background: rgba(114, 114, 114, 0.5);
    border-radius: 10px 10px 0px 0px;

    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  .text-in-border-settings {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .text-plan {
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    max-width: 320px;
    position: relative;
  }

  .text-time-plan {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2px;
  }

  .text-price-plan {
    font-size: 12px;
    line-height: 18px;
    color: #727272;
  }

  .line-decoration {
    font-weight: 500;
    text-decoration-line: line-through;
  }

  .row-fluid-start {
    text-align: -webkit-auto;
    margin-bottom: 0;
  }

  .row-fluid-end {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    display: inline-block;
    letter-spacing: 8px;
    position: relative;
  }

  .dollar {
    position: absolute;
    left: -9px;
    top: -7px;
    font-size: 0.875rem;
    letter-spacing: 0;
  }

  .cents {
    left: 15px;
  }

  .mo {
    font-size: 0.875rem;
    letter-spacing: 0;
  }

  .shadow {
    position: absolute;
    width: 320px;
    height: 20px;
    left: -18.39px;
    top: 60px;  

    background: rgba(186, 157, 155, 0.31);
    background-blend-mode: overlay;
    filter: blur(8.28132px);
  }

  .text-after {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin-bottom: 20px;
    color: #000000;
  }

  .accept-plan-button {
    width: 280px;
    height: 50px;
    left: 0px;
    bottom: 0px;

    background: #FF7F6B;
    border-radius: 10px;    

    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.024em;

    color: #FFFFFF;
  }
